<!doctype html>
<html>
    <head>
        <title>{{  title  }}</title>
        <style>
            .error { color:red}
        </style>
    </head>
<body>
    <nav>
        <a href="/">Home</a> | <a href="/blog">All Posts</a> | <a href="/newpost">Add a Blog Entry</a>
    </nav>
    <div style='float: right'>
        {% if 'user' in session %}
            {{ session['user'] }}
            <form action="/logout" method="post">
                <input type="submit" value="Log Out" />
            </form>
        {% else %}
            <a href="login">Login</a> | <a href="signup">Sign Up</a>
        {% endif %}
    </div>
    <h1>{{  title  }}</h1>
    {% block content %}
    {% endblock %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
    
</html>